header,section,div,footer{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
.central-panel{
    margin: auto;
    width: 100%;
    min-width: 360px;
    max-width: 720px;
}
.centered{
    text-align: center;
}
footer {
    padding: 40px 20px;
}
.img-login{
    background-image: url('assets/img/RPS_Horizoontal.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 270px;
}
.img-block{
    display: inline-block;
    width: 30%;
    height: 70px;
    background-color: #aaa;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.img-scissors {
    background-image: url('assets/img/RPS_S.png')
}
.img-paper {
    background-image: url('assets/img/RPS_P.png')
}
.img-rock {
    background-image: url('assets/img/RPS_R.png')
}
.move-picked{
    background-color: green;
}