<p class="centered">
  Yuo are fighting against {{opponentName}}
</p>
<div>
  <p>Choose your movement</p>
  <div class="container">
    <div (click)="pickMove('P')" [class.move-picked]="pPicked" class="img-paper img-block"></div>
    <div (click)="pickMove('R')" [class.move-picked]="rPicked" class="img-rock img-block"></div>
    <div (click)="pickMove('S')" [class.move-picked]="sPicked" class="img-scissors img-block"></div>
  </div>
  <p>Waitint for a movement</p>
  <div class="container">
    <div [class.move-picked]="pPickedOpp" class="img-paper img-block"></div>
    <div [class.move-picked]="rPickedOpp" class="img-rock img-block"></div>
    <div [class.move-picked]="sPickedOpp" class="img-scissors img-block"></div>
  </div>
</div>
<div *ngIf="showtNextMatch">
  <button (click)="nextMatch()">Next match</button>
</div>
<p class="centered">
  <span class="summary-tag">Total matches:</span>
  <span class="summary-info">{{totalMatches}}</span>
  <span class="summary-tag">{{playerName}} wins:</span>
  <span class="summary-info">{{player1wins}}</span>
  <span class="summary-tag">{{opponentName}} wins:</span>
  <span class="summary-info">{{player2wins}}</span>
</p>
<div>
  <table>
    <thead>
      <tr>
        <td>Round</td>
        <td>Winner</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let round of rounds">
        <td>{{round.player1id}}</td>
        <td>{{round.player2id}}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <div class="central-panel centered">
    <button (click)="endBattleClick()">End battle</button>
  </div>
</div>