<div class="central-panel centered">
  Welcome {{userName}}
</div>
<div class="central-panel centered">
  <p>Do you want a battle?</p>
  <p>Send a request to your opponent</p>
  <input [(ngModel)]="opponentName" [disabled]="connectingOpponent" placeholder="opponent"><br>
  <button (click)="wantToPlayClick()" [hidden]="connectingOpponent">I want to play!</button>
  <p [hidden]="unavOppoHidden" class="centered">Unavailable opponent!</p>

</div>
<br>
<div class="central-panel">
  <div *ngFor="let game of requestedGames">
    <div *ngIf="game.defiant == userName">
      You have sent a battle requesto to '{{game.opponent}}' ...
      <button (click)="cancelGame(game.id)" href="#">Cancel</button>
    </div>
    <div *ngIf="game.defiant != userName">
      '{{game.defiant}}' wants to battle against you...
      <button (click)="startGame(game.id)" href="#">Fight</button>
    </div>
  </div>
  <p [hidden]="requestedGames.length > 0" class="central-panel centered">You don't have battle requests</p>
</div>
<br><br>
<div class="central-panel centered">
  <button (click)="logOutClick()" [disabled]="connectingOpponent">Log Out</button>
</div>